@font-face {
    font-family: Eina01-Bold;
    src: url(./../fonts/Eina01-Bold.ttf);
}
@font-face {
    font-family: Eina01-Regular;
    src: url(./../fonts/Eina01-Regular.ttf);
}
@font-face {
    font-family: Eina01-SemiBold;
    src: url(./../fonts/Eina01-SemiBold.ttf);
}

body, html {
    width: 100%;
    height: 100%;
}

.padding{
    padding-left: 6rem;
    padding-right: 6rem;
}
.margin{
    margin: 0!important;
}
.green-btn{
    background: #48D0CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}
.section-title{
    margin-top: 100px!important;
    margin-bottom: 100px!important;
}

/* HEADER */
.header{
    background: #2250A0;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff!important;
    font-family: Eina01-Regular;
    font-size: 18px;
}
.logo{
    padding-top: 10px;
}
.navbar-right{
    justify-content: flex-end;
}

/* BANNER */
.banner-div{
    padding-top: 8rem;
    font-family: Eina01-SemiBold;
    color: #1A2427;
}
.intro-div{
    padding-top: 12rem;
}
.im{
    font-size: 25px;
}
.intro1{
    font-size: 30px;
    font-family: Eina01-Bold;
}
.intro2{
    font-size: 25px;
}
.banner-img{
    width: 800px;
}
.banner-btn{
    margin-top: 2rem;
}
.banner-social{
    margin-top: 2rem;
}
.banner-social ul{
    display: flex;
    padding-left: 0;
}
.banner-social ul li{
    list-style-type: none;
    margin-right: 50px;
}
.banner-social ul li img{
    width: 30px;
}

/* SKILLS */
.section-title p{
    font-size: 28px;
    font-family: Eina01-Bold;
    border-bottom: 10px solid #48D0CC;
    width: fit-content;
}
.skill-set{
    display: flex;
}
.circle-main{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.circle-skill{
    background: linear-gradient(180deg, #48D0CC 0%, rgba(91, 248, 243, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 42px;
    align-self: center;
}
.language{
    color: #1A2427;
    font-family: Eina01-Bold;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

/* SERVICES */
.service-set{
    display: flex;
    justify-content: space-between;
}
.service-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.service-card .icon{
    align-self: center;
    margin-bottom: 20px;
}
.service-card .title{
    align-self: center;
    font-family: Eina01-Bold;
    margin-bottom: 20px;
}
.service-card .desc{
    align-self: center;
    text-align: center;
}

/* PROJECTS */
.projects-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    margin: 20px auto 50px auto;
    width: 60%!important;
    height: 350px;
    padding: 0!important;
}
.projects-card .project-img img{
    width: 100%;
    height: 100%;
}
.project-img{
    width: 40%;
}
.desc-div{
    padding: 50px;
    width: 60%;
}
.desc-div .title{
    font-family: Eina01-Bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.desc-div .desc{
    font-family: Eina01-Regular;
    margin-bottom: 20px;
}
/* ABOUT ME */
.about-me img{
    width: 500px;
}
.aboutme{
    font-family: Eina01-Regular;
    letter-spacing: 1px;
    font-weight: 550;
    font-size: 16px;
}

/* CONTACT ME */
.contactme .title{
    font-family: Eina01-Bold;
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
}
.contactme .email{
    text-align: center;
    font-family: Eina01-Regular;
    font-size: 16px;
}
.email-link{
    font-size: 20px;
    color: #2250A0;
    font-family: Eina01-Bold;
    text-decoration: none;
}
.contactme .social-media{
    display: flex;
    justify-content: center;
}
.contactme .social-media li{
    list-style-type: none;
    margin: 50px;
}

/* COPYRIGHT */
.copyright{
    background: #2250A0;
    padding: 10px 0 10px 0;
    margin-top: 150px;
}
.copyright p{
    color: #ffffff;
    font-family: Eina01-Regular;
    font-size: 18px;
    text-align: center;
}


/* RESPONSIVENESS */
@media(max-width: 1600px){
    .projects-card{
        width: 70%!important;
    }
    .desc-div{
        padding: 30px;
    }
}
@media(max-width: 1500px){
    .banner-img{
        width: 100%;
    }
    .intro-div{
        padding-top: 7rem;
    }
    .circle-skill{
        width: 150px;
        height: 150px;
    }
    .circle-skill img{
        width: 100%;
    }
}
@media(max-width: 1400px){
    .projects-card{
        height: 325px;
    }
}
@media(max-width: 1300px){
    .intro-div{
        padding-top: 5rem;
    }
    .projects-card{
        width: 80%!important;
    }
}
@media(max-width: 1200px){
    .about-me img{
        width: 400px;
    }
    .projects-card{
        width: 90%!important;
        height: 340px;
    }
}
@media(max-width: 1000px){
    .projects-card{
        width: 100%!important;
        height: 300px;
    }
    .circle-skill{
        width: 125px;
        height: 125px;
        padding: 30px;
    }
    .service-card{
        margin-bottom: 20px;
    }
    .desc-div{
        padding: 20px;
    }
}
@media(max-width: 900px){
    .padding{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .intro-div{
        padding-top: 3rem;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 14px;
    }
    .section-title p{
        font-size: 25px;
    }
    .language{
        font-size: 20px;
    }
    .desc-div .title{
        font-size: 14px;
    }
    .desc-div .desc{
        font-size: 14px;
    }
    .banner-div{
        padding-top: 5rem;
    }
    .green-btn{
        padding: 5px 15px 5px 15px;
        font-size: 15px;
    }
    .about-me img{
        width: 350px;
    }
    .section-title{
        margin-bottom: 50px!important;
    }
}
@media(max-width: 800px){
    .intro-div{
        padding-top: 0;
    }
    .intro1{
        font-size: 25px;
    }
    .im{
        font-size: 20px;
    }
    .intro2{
        font-size: 20px;
    }
    .projects-card .project-img img{
        object-fit: cover;
    }
    .padding{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media(max-width: 600px){
    .padding{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .desc-div{
        padding: 10px;
    }
    .projects-card{
        flex-direction: column;
        min-height: 600px;
        max-height: 650px;
        height: fit-content;
        padding: 20px!important;
        width: 70%!important;
    }
    .project-img{
        width: unset;
    }
    .projects-card .project-img img{
        width: 100%;
        height: auto;
    }
    .desc-div {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }
    .contactme .title{
        font-size: 25px;
    }
    .copyright p{
        font-size: 14px;
    }
    .logo img{
        width: 100%;
    }
}
@media(max-width: 551px){
    .projects-card{
        width: 90%!important;
    }
}
@media(max-width: 500px){
    .section-title p{
        font-size: 20px;
    }
    .contactme .title{
        font-size: 20px;
    }
    .language{
        font-size: 14px;
    }
    .service-card .desc{
        font-size: 14px;
    }
    .aboutme{
        font-size: 14px;
    }
    .contactme .social-media li img{
        width: 30px;
    }
    .header{
        padding-right: 0!important;
        padding-left: 0!important;
    }
}
@media(max-width: 400px){
    .about-me img{
        width: 100%;
    }
    .projects-card{
        width: 100%!important;
    }
    .navbar .container{
        padding: 0;
    }
}