body,html{
    width: 100%;
    height: 100%;
    background: #00090F!important;
}
*{
    font-family: "Actor";
}
.margin{
    margin: 0!important;
}
.padding-lr{
    padding-left: 6rem;
    padding-right: 6rem;
}
.section-margin{
    margin-top: 80px!important;
}
.section-title{
    font-size: 25px;
    color: #f7f7f7;
}
.yellow-btn{
    background: #FFB403;
    color: #f7f7f7;
    border: none;
    padding: 10px 30px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 18px;
}
/* HEADER */
.header{
    background: #00090F;
}
.navbar-light .navbar-nav .nav-link{
    color: #f7f7f7!important;
    font-size: 20px;
}
.navbar_right{
    justify-content: flex-end!important;
}
.navbar-expand .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}
/* Banner */
.socialmedia li{
    list-style-type: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.socialmedia li img{
    width: 30px;
}
.intro1{
    color: #f7f7f7;
    font-size: 25px
}
.intro2{
    color: #FFB403;
    font-size: 35px;
}
.intro3{
    color: #f7f7f7;
    font-size: 30px;
}
.banner-img img{
    width: 500px;
    float: right;
}

/* SERVICES */
.card-style{
    color: #f7f7f7;
    background: #16273B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 25px;
}
.card-title{
    font-size: 18px;
}
.card-content{
    font-size: 18px;
}
.language-div{
    margin-top: 25px!important;
}
.lang-img img{
    width: 50px;
}
.progress{
    background-color: #183A43!important;
    height: 25px!important;
}
.progress-bar{
    background-color: #16273B!important;
}

/* ME */
.me-img img{
    width: 50%;
}
.me-par{
    color: #f7f7f7;
    font-size: 18px;
}

/* CONTACT FORM */
.contact-card{
    display: flex;
    background: #16273B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 50%;
    padding: 20px;
    margin-bottom: 25px;
}
.contact-card p{
    color: #f7f7f7;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
}
.form-class{
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
}

/* copyright */
.copyright{
    color: #f7f7f7;
    font-size: 17px;
    text-align: center;
}